@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.cards{
    margin-left: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    background-color: #FBFBFF;
    grid-gap: 1rem;
}

* {
  box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
  }
  
  header,
  main,
  footer {
    margin: 2rem;
    position: relative;
  }
  
  h1 {
    color: #FBFBFF;
    border: 1px solid #eee;
    border-radius: 10px;
    background-color: #3B5249;
    width: 100%;
    text-align: center;
  }
  
  h2 {
    color: navy;
    margin: 0 0 1rem 0;
       border-bottom: 1px solid #bbb;
  }
   
  p {
    margin: 0;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #bbb;
    padding: 1rem;
  }
  
  section {
    margin: 0.25rem;
    padding: 0.35rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #519872;
    color: #FBFBFF;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
  }
    
  img {
    width: 280px;
    box-shadow: 0 0 30px #777;
    height: 380px;
    border: 1px solid #333;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: cover;
  }

  input, select, textarea, button {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 5px;;
}

.stats {
	margin: 0.5rem;
	border: 1px solid #fff;
	padding: 1rem;
	background-color: #3B5249;
  border-radius: 10px;
}

.stats p {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0.5rem;
}

.label {
	text-align: right;
	color: white;
}
  
  footer {
    border: 1px solid #555;
    border-radius: 10px;
    background-color: #3B5249;
    color: #FBFBFF;
    padding: 10px;
    text-align: center;
  }
  
  