* {
    font-family: 'PT+Serif', sans-serif;
}

html {
    background-color: lightcyan;
}

body {
    max-width: 900px;
    margin: 0 auto;
}

header {
    text-align: center;
    background-color: lightskyblue;
    border-radius: 0 0 10px 10px;
    color: Black;
    padding: 1em;
}
h1 {
    margin-bottom: 0.25em;
}
header > span {
    font-size: larger;
    color: White;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
    margin: 20px auto;
}
section {
    border-radius: 10px;
    background-color: white;
    border: solid 1px gray;
    overflow: hidden;
}
section * {
    font-family: 'Roboto', sans-serif;
}
h3 {
    margin: 0;
    font-family: 'PT+Serif', sans-serif;
    padding: 10px;
    text-align: center;
    background: lightskyblue;
    color: Black;
}
section > div {
    padding: 0 10px;
}
section > div > span {
    display: block;
}
section > div > * {
    text-align: justify;
    font-size: 1.05em;
}
section img {
    width: calc(100% - 2px);
    display: block;
    margin: 0 auto;
    border: solid 1px gray;
    max-width: 100%;
}

footer {
    text-align: center;
    background-color: lightskyblue;
    border-radius: 10px 10px 0 0;
    padding: 1em;
}
#lst-updt {
    padding-top: 5px;
    display: block;
    font-size: small;
    color: lightskyblue;
}