* {
    font-family: 'PT+Serif', sans-serif;
}
html {
    background-color: lightcyan;
}
header, main, footer{
    max-width: 850px;
    margin:0 auto;
}
footer {
    background-color: lightskyblue;
    padding: 2rem;
    text-align: center;
    border-radius: 25px;
}
header {
    margin: 16px auto;
    text-align: center;
    background-color: lightskyblue ;
    align-items: center;
    padding: 2rem;
    border-radius: 25px;
    color: black
}
h1 {
    margin-bottom: 0.25em;
}
header > span {
    font-size: larger;
    color: blue;
}
main {
    margin: 20px auto;
    text-align: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    padding: 2rem;
    border-color: black;
    width: auto;
}
h3{
    font-family: 'PT+Serif', sans-serif; 
    background-color: lightskyblue;
    text-align: center;
    padding: 20px;
    border-radius: auto;
    color: black;
}
section * {
    font-family: 'Roboto', sans-serif;
}
section{
    background-color: white;
    align-items: center;
    padding: 1rem;
    border-color:black;
    border-radius: 20px;
    border: solid 1px gray;
}
section > div {
    padding: 0 10px;
}
section > div > span {
    display: block;
}
section > div > * {
    text-align: justify;
    font-size: 1.05em;
}
section img {
    width: calc(100% - 2px);
    display: block;
    margin: 0 auto;
    border: solid 1px gray;
    max-width: auto;
}
