body{
    background-color: #FBFBFF;
}
img{
    max-width: 100%;
}

main, header, footer, section, nav, a{
    max-width: 960px;
    max-height: min-content;
    margin: 0 auto;
    font-family: 'Playfair', sans-serif;
    border-radius: 20px;
}

nav a:hover {
	background-color: #FBFBFF;
	color: #3626A7;
    
}
nav, a {
    display: flex;
    color: #000000;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 0.9rem;
}

header{
	background-color: #FF331F;
	padding: 5px 0;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
    border-radius: 20px;
    font-size: 18px;
}

#header-date {
    background-color: #000000;
    color: #FBFBFF;       
}

header{
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

footer{
    background-color: #FF331F;
    padding: 5px;
    align-items: center;        
}
footer{
    display: flex;
    flex-direction: column;
    text-align: center;    
}

.logo {
    margin: 20px 20px auto;
	width: 150px;
	height: 200px;
    border-radius: 9px;
}

.city-logo{
    padding-left: 10px;
    padding-right: 10px;
    width: 150px;
    height: auto;
}

.footer-logo{
    padding : 20px 10px 10px 20px ;
    width: 150px;
    height: 200px;
}

h1,h2{
    font-family: 'Antonio', sans-serif;
    padding: 20px;
}
section{
    text-align: center;    
}

div{
    text-align: center;
    background-color: #FBFBFF;
    border: 1px solid #3626A7;
    margin: 10px;
    border-radius: 5px;
}

main{
    display: block;
}

.Spotlight{
    grid-column: 4/4;
    grid-row: 1/4;
    border-radius: 10px
}

.Spotlight div{
    height: 31%;
}

.s3 {
    display: none;
}

.Join {
    display: none;
}

.heroimg {
    margin: auto;
    border-radius: 10px;
    position: relative;
    object-fit: cover;    
}

.Hero {
    position:relative;
}
.Hero h2 {
    position: absolute;
    z-index: 1;
}
.Hero h3 {
    position: absolute;
    border-style: groove;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    -webkit-text-fill-color: #FBFBFF;
    background-color:#FF331F;
    margin-top: 120px;
    margin-left: 20px;
    z-index: 4;
}
.eventimg{
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    margin: 5px 5px 5px 5px;
}
.Event {
    position: relative;
}
.Event h2 {
    position: absolute;
    z-index: 1;
    background-color: #FF331F;
    -webkit-text-fill-color: #FBFBFF;
    margin-left: 20px;
    border-radius: 10px;
}

.weatherimg{
    border-radius: 10px;
      
}
.Weather {
    position:relative;
    background-color: #3626A7;
}
.Weather h2 {
    position: absolute;
    z-index: 1;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 10px;
    text-align: center;
    color:#FBFBFF;
}

.main-links li:first-child{
    display: block;
}

.main-links li {
	display: none;
}

.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "❌ ";
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.footer-links{
    list-style: none;
    padding: 0;
}

.banner-join{
    grid-column: 1/5;
    border: none;
}

.hover:hover{
    box-shadow: none;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
main.discover picture img[data-src] {
    opacity: 0;
    visibility: hidden;
}
main.discover picture img{
    -webkit-transition: 1s linear;
    transition: 1s linear;
}

/* Discovery Page CSS */
.discover-heading {
    background-color: #EEEE;
    text-align: center;
    padding: 1.5rem;
    display: block;
}
.greeting {
    padding-bottom: 1rem;
}
/* Discovery Media Card */
.media-card {
    width: 100%;
    overflow: visible;
    box-shadow: 2px 2px 5px 2px #888;
    margin-bottom: 3rem;
}
.discover-article {
    padding: 2rem;
    text-align: center;
}
.discover-article p {
    padding-top: 1rem;
}
.media-btn:hover {
    background-color: gray;
}
