@media only screen and (min-width: 800px)
{

main {
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: repeat( 3, 1fr );
}

header{
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.main-links{
    display: flex;
    list-style: none;
    padding: 0;
}
.main-links li{
    display: contents;
}

.main-links li:first-child{
    display: none;
}

.city-logo{
    grid-column: 1/2;
    grid-row: 1/2;
}

h1{
    grid-column: 2/5;
    grid-row: 1/2;
}

nav, a{
    grid-column: 1/5;
    grid-row: 2/3;
}

.current-date{
    grid-column: 1/5;
    grid-row: 3/3;
}

span{
    grid-column: 4/4;
    grid-row: 1/2;
    border-radius: 10px;
}
.Event{
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 10px;
    position: relative;
}
.eventimg{
    margin: auto;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    object-fit: cover;    
}
.Weather{
    grid-column: 1/2;
    grid-row: 2/3;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
.weatherimg{
    position: absolute;
    z-index: 2;
}
.Weather h2 {
    position: absolute;
    z-index: 1;
    margin-left: 50px;
    margin-top: 50px;    
    border-radius: 10px;
    text-align: left;
}
.Weather p{
    text-indent: 10%;
    text-align: left;
    color: #FBFBFF;
}
.Join{
    grid-column: 1/2;
    grid-row: 3/3;
    border-radius: 10px;
    display: block;    
}
.Join h3 {
    border-radius: 10px;
    position: relative;
    border-style: double;
    background-color: #ff331f;
    z-index: 1;
}

.Hero{
    grid-column: 2/4;
    grid-row: 1/3;
    border-radius: 10px;
    position: relative;
}
.heroimg {
    margin: 10px;
    position: relative;
    border-radius: 10px; 
}

.Hero h2 {
    position: absolute;
    z-index: 1;
}
.Hero h3 {
    position: absolute;
    border-style: groove;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    -webkit-text-fill-color: #FBFBFF;
    background-color:#FF331F;
    margin-top: 120px;
    margin-left: 20px;
    z-index: 4;
}

.eventimg{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.News{
    grid-column: 2/4;
    grid-row: 3/4;
    border-radius: 10px;
}
.Spotlight{
    grid-column: 4/4;
    grid-row: 1/4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.Spotlight div{
    height: 31%;
}

.s3 {
    display: block;
}
span {
	display: flex;
    flex-direction: row;
	align-items: center;
    margin-right: 1rem;
    border-radius: 10px
}

footer{
    display: grid;
    align-items: center;    
}

.map-link{
    grid-column: 4/5;
    grid-row: 1/2;
}

.footer-logo{
    grid-column: 1/2;
    grid-row: 1/2;
}
.footer-h1{
    grid-column: 3/2;
}
.footer-content{
    grid-column: 1/5;
    grid-row: 3/3;
}

.main-2{
    max-width: 960px;
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: repeat( 2, 1fr );
}

.image-one{
    grid-column: 1/2;
    grid-row: 1/2;
}

.image-two{
    grid-column: 2/3;
    grid-row: 2/3;
}

.image-three{
    grid-column: 3/4;
    grid-row: 1/2;
}

.image-four{
    grid-column: 1/2;
    grid-row: 2/3;
}

.image-five{
    grid-column: 3/4;
    grid-row: 2/3;
}

.hover:hover{
    box-shadow: 0 0 50px #333;
}
}