body {
    background-color: #FBFBFF;
}

img {
    max-width: 100%;
}

main, header, footer, section, nav, a {
    max-width: 1200px;
    max-height: min-content;
    margin: 0 auto;
    font-family: 'Playfair', sans-serif;
    border-radius: 20px;
}

nav a:hover {
	background-color: #FBFBFF;
	color: #3626A7;    
}

nav, a {
    display: flex;
    color: #000000;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 0.9rem;
}

header{
	background-color: #FF331F;
	padding: 5px 0;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
    border-radius: 15px;
    font-size: 18px;
}

#header-date {
    background-color: #000000;
    color: #FBFBFF;       
}

.current-date {
    grid-column: 1/5;
    grid-row: 3/3;
}

header {
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #FF331F;
    padding: 5px;
    align-items: center;           
}

.logo {
    margin: 20px 20px auto;
	width: 150px;
	height: 200px;
    border-radius: 9px;
}

.social {
    display: block;
    background-color: #FF331F;
    border-color: transparent;
}

.city-logo {
    padding-left: 10px;
    padding-right: 10px;
    width: 150px;
    height: auto;
}

.footer-logo {
    padding : 20px 10px 10px 20px ;
    width: 150px;
    height: 200px;
}

h1,h2 {
    font-family: 'Antonio', sans-serif;
    padding: 20px;
    text-align: center;
}

section {
    text-align: center;    
}

div {
    text-align: center;
    background-color: #FBFBFF;
    border: 1px solid #3626A7;
    margin: 10px;
    border-radius: 5px;
}

main {
    display: block;
}

.Spotlight {
    grid-column: 4/4;
    grid-row: 1/4;
    border-radius: 10px;
    background-color: lightgrey;
}

.Spotlight div {
    height: 31%;
}

.s3 {
    display: none;
}

.Join {
    display: none;
}

.heroimg {
    margin: auto;
    position: relative;  
    object-fit: cover;          
}

.Hero {
    position:relative;
    background-color: lightgrey;
}

.Hero h2 {
    position: absolute;
    z-index: 1;
}

.Hero h3 {
    position: absolute;
    border-style: groove;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    background-color:#FF331F;
    -webkit-text-fill-color: #FBFBFF;
    margin-top: 10px;
    margin-left: 20px;
    z-index: 4;
}

.Event {
    position: relative;
    background-color: lightgrey;
}

.Event h2 {
    background-color: #FF331F;
    -webkit-text-fill-color: #FBFBFF;
    margin: 20px;
    border-radius: 10px;
}

.weatherimg {
    border-radius: 10px;      
}

.Weather {
    position:relative;
    background-color:lightgrey;
    align-items: center;
}

.Weather h2 {
    position: absolute;
    z-index: 1;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 10px;    
    color:#0A0908;
}

.main-links li:first-child {
    display: block;
}

.main-links li {
	display: none;
}

.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "❌ ";
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.footer-links{
    list-style: none;
    padding: 0;
}

.banner-join {
    grid-column: 1/5;
    border: none;
}

.hover:hover {
    box-shadow: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

main.discover picture img[data-src] {
    opacity: 0;
    visibility: hidden;
}

main.discover picture img {
    -webkit-transition: 1s linear;
    transition: 1s linear;
}

/* Discovery Page CSS */
.discover-heading {
    background-color: #FBFBFF;
    text-align: center;
    padding: 1.5rem;
    display: block;
}

.greeting {
    padding-bottom: 1rem;
}

/* Discovery Media Card */
.discover-heading, .content-box h2 {
    background-color: #3626A7;
    color:#FBFBFF;
}

.media-card {
    width: 100%;
    overflow: visible;
    box-shadow: 2px 2px 5px 2px #888;
    margin-bottom: 3rem;
}

.discover-article {
    padding: 2rem;
    text-align: center;
}

.discover-article p {
    padding-top: 1rem;
}

.media-btn:hover {
    background-color:#FBFBFF;
}

/* -------Join Page-------- */
#join-form {
    padding: 1rem 1rem;
}

#join-form h2 {
    text-align: center;
    font-family: 'Roboto';
    padding: 1rem;
    background-color: #3626A7;
}

label.top {
    display: block;
    padding-top: 1rem;
    font-family: 'Arial';
    color: #3626A7;
    font-weight: bolder;
}

form label.sbs {
    display: block;
    font-size: 1.5rem;
    padding: .75rem 0;
    color: #3626A7;
    font-weight: bolder;
}

legend {
    font-family: 'Calibri';
    font-size: 1.25rem;
    text-align: center;
    font-weight: bolder;
    padding: 0 .5rem;
    background-color: #000000;
    color: #FBFBFF;
}

legend p {
    text-align: justify;
}

form fieldset {
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 15px;
    border: lightgrey 1px solid;
    background-color: #FBFBFF;
}

form label.top input, textarea {
    display: block;
    width: 100%;
    max-width: 20rem;
    padding: .50rem 0;
    border: 1px solid lightgray;
    border-radius: 3px;
}

form input.submitBtn {
    width: 90%;
    max-width: 15rem;
    padding: 1rem;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: lightgray;
    color: #000000;
    font-family: 'Roboto';
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin-bottom: 2rem;
    margin-left: 5%;
}

.Join-heading {
    background-color: #EEEE;
    text-align: center;
}

.text {
    text-align: justify;
}

form input.submitBtn:hover {
    background-color: #3626A7;
}

/* -------Validation------- */
form label.top input:required {
    border-color: #FF331F;
}

form label.top input:required:valid {
    border-color: #888;
}

/*------Thank you page------*/
#thankyou {
    text-align: center;
}

#thankyou h2{
    font-family: 'Calibri';
    padding: 2rem;
}

#thankyou p {
    padding: 0 2rem 4rem 2rem;
}

/* directory */

.member-main {
    width: 100%;
}
  
#member-selector {
    width: auto;
    text-align: center;
    border-color: transparent;
}
  
#member-selector button {
    padding: 1rem;
    margin: .5rem;
    border-radius: 5px;
    background-color: #FF331F;
    border: 1px silver solid;
    color: #FBFBFF
}
  
#member-selector button.active{
    background-color: #3626A7;
    color: #FBFBFF;
}
  
  /* Cards view */
  
.member-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    background-color: #000000;
    border-radius: 30px;    
}
  
.member-cards section {
    text-align: center;    
    border: 8px solid silver;    
    width: 300px;
    background-color: #3626A7;
    color: #FBFBFF;
    padding: 1rem;
    margin: .50rem;
}
  
.member-cards .gold-member {
    border: 7px solid gold;
    background-color: #3626A7;    
}

.member-cards a {
    color: #E3D26F;
}
  
/* List View */
  
.list {    
    display: grid;
    justify-items: center;   
    padding: 1rem; 
    font-size: 1em;   
}
  
.list section img {
    display: none;
}
  
.list section {
    display: grid;
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
  
.list section:nth-child(odd) {
    background-color: #3626A7;
    color: #FBFBFF;
}
  
.list section:nth-child(even) {
    background-color: #FBFBFF;
}

.list .gold-member::after {
    content: "(Golden Member)";
}

.member-data .list:nth-last-child(){
    display: none;
}
  
/* Contact */
form {
    display: flex;
    flex-direction: column;
}
    
fieldset p {
    text-align: left;
}
    
label.top {
    text-align: left;
}